@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	
} 

body{
	min-height: 100vh;
	overflow-x: hidden;
	background: linear-gradient(180deg, #dad2fb 1%, #fff 50%,  #fff 50%);
}

header{
	text-shadow: 1px 1px 5px #2900cd;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
header .logo{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}
header ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li{
	list-style: none;
	margin-left: 20px;
}
header ul li a{
	text-decoration: none;
	padding: 6px 15px;
	color: #ffffff;
	border-radius: 20px;
}

header ul li a:hover,
header ul li a.active{
	background: #08002a;
	color:#dad2fb;
}

section{
	margin: 10px;
}

  h1 {
    max-width: 900px;
    text-align: center;
    margin: 60px auto;
    font-family: 'Courier New', Courier, monospace;
    color: #001e01;
    font-size: 4vw;
  }

  h1::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

h2{
	text-align: center;
	margin: 15px;
}


  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
.quemsou{
	text-align: justify;
}

.paragrafoum{
	text-align:center
}

#myBtn {
  display: none;
    position: fixed;
    bottom: 19px;
    right: 21px;
    z-index: 999;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
     border-radius: 4px;
}


#seta {
    position: absolute;
    padding: 8px;
    box-shadow: 2px -2px 0 1px #000 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(135deg);
    margin: -20px;
}


.column {
    float: left;
    width: 33%;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 33px;
    height: 450px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

footer{
  overflow: hidden;
  background-color: #08002a;  
  width: 100%;
  text-align: center;
  color: #f1f1f1;
  
}
.rodape{
	margin: 5px;
}

